<p class="p1">
    Wellcome to Photo 
</p>
<div style="padding-right: 12px;"> 
<table>
    <tr>
<th><img class="img1" alt="" width="450" height="300"></th>
<th><img class="img2" alt="" width="450" height="300"></th>
<th><img class="img3" alt="" width="450" height="300"></th>
    </tr>
    <tr>
<th><img class="img4" alt="" width="450" height="300"></th>
<th><img class="img5" alt="" width="450" height="300"></th>
<th><img class="img6" alt="" width="450" height="300"></th>
    </tr>
    <tr>
        <th><img src="https://pixfeeds.com/images/cakes/1280-173023212-birthday-cake.jpg" alt="" width="450" height="300"></th>
        <th><img src="https://img1.wsimg.com/isteam/ip/80028cf6-c2a4-4600-b73e-278ec7a36ebf/david-holifield-g5bgYkKa8y0-unsplash.jpg" alt="" width="450" height="300"></th>
        <th><img src="https://artofcakesbakery.com/uploads/3/5/0/6/35064375/s605835713943169103_p42_i1_w309.jpeg" alt="" width="450" height="300"></th>
      </tr>
</table>
</div>