<body>

    <h1>People</h1>
<ol>
<li>
    <article>
        <img src="https://66.media.tumblr.com/01714158db11bcf0cb845f846140bd96/tumblr_o0a78kNaUN1urzxu1o1_500.jpg" alt="">
    <h3>Dr. Vijay shree</h3>
        <p>I wanted to send you a quick note to let you now how much WE LOVED the cake. I cannot put into word how amazing it was. You totally WOWed me. The cake looked breathtaking and it was so yummy! Everyone at the shower could not stop talking about it.
            Thank you so much!</p>
</article>
</li>

<li>
<article>
        <img src="http://fscomps.fotosearch.com/compc/BCP/BCP126/bcp026-06.jpg" alt="">
    <h3>Sudhanya Roy</h3>
        <p>The cake and cupcakes were a huge success – not one cupcake left behind.

            I loved the frosting.
            
            Thank you for the wonderful work you do.</p>
</article>
</li>
</ol>

</body>